body{
    font-family: Roboto,sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
p,h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
.container{
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.section{
    padding-top: 120;
    padding-bottom: 120;
    margin: 0;
}



/*====Header====*/
.header{
border-bottom: 1px solid  #E7E9FC;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);


}
.header-container{
    background:  #FFF;   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    color: #4D5AE5; 
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    
 
}

.header-logo-accent{
color: #2E2F42; 


}
.header-menu-list{
    display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
   
.header-menu-link{
color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
padding: 24px 0;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)

}
.header-menu-link:hover,
.header-menu-link:focus{
    color:#404BBF ;
}
.header-menu-link.current{
    position: relative;
    color: #404BBF;
}
.header-menu-link.current::after{
    content: '';
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    position: absolute;
    display: block;
}
.address{
    font-style: normal;
}
.address-list{
    display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
   
}
.address-link{
    color:  #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.address-link:hover,
.address-link:focus{
    color: #404BBF;

}

/*====Hero====*/

.hero{
    max-width: 1440px;
   width: 100%;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg); 
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   margin: 0 auto;

}
.hero-container{
   
   display: flex;
   flex-direction: column;
   align-items: center;
   
   
}
.hero-title {
color: #FFF;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
margin: 0 auto 48px;
text-align: center;
max-width: 496px;
}

.hero-btn {
color:  #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
background:  #4D5AE5;
cursor: pointer;
padding: 16px 32px;
border-radius: 4px;
margin: 0 auto;
display: block;
border: none;
min-width: 169px;
transition : background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-btn:hover,
.hero-btn:focus{
    background-color: #404BBF;
}

/*=====Features====*/

.features {
    background: #FFF;
    padding-top: 120px;
    padding-bottom: 120px;

}

.features-list{
    display: flex;
    gap: 24px;

}
.features-icon-container{
 border-radius: 4px;
 border: 1px solid #8e8f99;
background: #f4f4fd;
display: flex; 
align-items: center;
justify-content: center;
margin-bottom: 8px;
height: 112px; 
}
.features-icon{
    margin-top: 24px;
    margin-bottom: 24px;
}
.features-item{
 width: calc((100% - 72px) / 4);
   min-width: 264px;
  
}

.features-subtitle {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.features-text {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em
}

/*====Our Team====*/
.team {
 background: #F4F4FD;
 padding-top: 120px;
 padding-bottom: 120px;
  }

.team-title {
color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;


}
.team-list{
    display: flex;
    gap: 24px;
}

.team-item {
 background-color: #FFF ;
 width: calc((100% - 72px ) / 4);
 
 border-radius: 0px 0px 4px 4px;
 box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.team-cnt{
  padding-bottom: 32px;
  padding-top: 32px;
}

.team-image{
    display: block;
    max-width: 100%;
    height: auto;
}
.team-name {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px; 
text-align: center;

}

.team-text {
 color:#434455;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 text-align: center;

}
.soc-icon{
    display: flex;
    justify-content: center;
    gap: 24px;

}
.icon-item{
    width: 40px;
    height: 40px;
    
}
.icon-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover,
.icon-link:focus{
    background-color: #404BBF;
}
.icon-icon{
    fill: #F4F4FD;
  
}

/*====Our Portfolio====*/

.portfolio {
    background: #FFF;
    padding-top: 120px;
    padding-bottom: 120px;   
}

.portfolio-container{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}
    

.portfolio-title {
color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
   
   
}
.portfolio-item{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) / 3);
    background: var(--WHITE, #FFF);
}
.portfolio-item:hover .overlay{
    transform: translateY(0%);
}

.portfolio-item:hover 
{
 box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.portfolio-item-img{
    position: relative;
    overflow: hidden;
}

.overlay{
    position:absolute;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4D5AE5;
    padding: 40px 32px;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.portfolio-cont{
 padding: 32px 16px 32px 16px;
 border: 1px solid  #E7E9FC;
 border-top: none;

}
.portfolio-img{
    display: block;
    max-width: 100%;
    height: auto;
    flex-shrink: 0;
}

.portfolio-name {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height:1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.portfolio-text {
    color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em
}

/*====Footer====*/

.footer {
 background: #2E2F42;
 padding: 100px 0;
}
.footer-container{
   display: flex;
   align-items: baseline;
   
}
.footer-par{
    margin-right: 120px;
}

.footer-logo {
color: #4D5AE5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
flex-shrink: 0;
display: inline-block;
margin-bottom: 16px;
}

.footer-logo-accent {
color:  #f4f4fd ;
}

.footer-text {
color: #F4F4FD;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
max-width: 264px;
}
.footer-soc-text{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    
    margin-bottom: 16px;
    justify-content: center;

}
.footer-soc{
    
    align-items: baseline;
    flex-direction: column;
   
}
.footer-soc-list{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.footer-soc-item{
    width: 40px;
    height: 40px;

}
.footer-soc-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    margin-right: 120px;
}
.footer-soc-link:hover,
.footer-soc-link:focus{
    background-color: #31d0aa;
}
.footer-soc-icon{
    fill: #f4f4fd;
}

.footer-form{
    display: flex;
    gap: 24px;
}
.text-subscribe{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
   .label-footer{
   display: flex;
   align-items: flex-start;
   gap: 16px;
   align-self: stretch;
   margin-bottom: 16px;
   } 
   .input-email{
    color: #ffffff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    width: 264px;
    height: 40px;
    background: transparent;
    border-radius: 4px;
    border: 1px solid #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
   }
   .input-email::placeholder{
    padding-left:   16px;
    color: #ffffff;
    font-size: 12px;

   }
.input-btn{
    min-width: 165px;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: #4D5AE5;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    border: none;
justify-content: center;
    
}
.btn-icon{
    margin-left: 16px;
    justify-content: center;
    align-items: center;
}

/*===Modal===*/

.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
} 
.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal{
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-close{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    padding: 0;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus{
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}
.modal-close .icon-close:hover{
    fill: #ffffff;

}
.modal-close .icon-close:focus{
    fill: #ffffff;
}
.modal-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}
.label-container{
    margin-bottom: 8px;
}
.modal-label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    color: #8e8f99;
  display: block;
}
.input-container{
    position: relative;
}
.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid #2E2F42;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    background-color: transparent;
    padding-left: 38px; 
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-input:focus{
    border-color: #4D5AE5; 
}
.modal-input + .icon-input{
    fill: #2E2F42 ;
}
.modal-input:focus + .icon-input{
    fill: #4D5AE5; 
}


.icon-input{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
   
}
.textarea-container{
    margin-bottom: 16px;
}
.textarea-comment{
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-comment:hover,
.textarea-comment:focus{
    border-color: #4D5AE5;
}


.checkbox-modal{
    margin-bottom: 24px;
}
.label-checkbox{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.checkbox-input:checked +  .label-checkbox .privacy-span{
    border: none;
    fill: #f4f4fd;
background-color: #404BBF;
    
}
.privacy-span{
width: 16px;
height: 16px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
justify-content: center;
fill: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
margin-right: 8px;
display: inline-flex;
align-items: center;
}
.check-link{
    font-size: 12px;
    font-style: normal;
    color: #4D5AE5;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-decoration: underline;
}
.send-btn{
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff ;
    cursor: pointer ;
    background-color: #4D5AE5 ;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
     margin: auto;
     border: none;
}
.send-btn:hover,
.send-btn:focus{
    background-color: #404BBF;
}